.container {
  max-width: 1200px;
  margin: 50px;
  .header {
    width: 100%;
    display: flex;
    .username {
      padding: 5px 10px;
      width: 30%;
      border: 2px solid black;
    }
    .title {
      padding: 5px 10px;
      border: 2px solid black;
      width: 70%;
      display: flex;
      justify-content: space-around;
    }
  }
  .body {
    display: flex;
    .listUser {
      padding: 5px 10px;
      border: 2px solid black;
      width: 30%;
    }
    .listSkill {
      padding: 5px 10px;
      border: 2px solid black;
      width: 70%;

      .skillName {
        cursor: pointer;
      }
    }
  }
}
